[submodule "repos/joshdick/onedark.vim"]
	path = repos/joshdick/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "repos/scrooloose/nerdtree"]
	path = repos/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "repos/Xuyanp/nerdtree-git-plugin"]
	path = repos/Xuyanp/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "repos/vim-airline/vim-airline"]
	path = repos/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "repos/tpope/vim-fugitive"]
	path = repos/tpope/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "repos/majutsushi/tagbar"]
	path = repos/majutsushi/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "repos/vim-airline/vim-airline-themes"]
	path = repos/vim-airline/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "repos/mattn/emmet-vim"]
	path = repos/mattn/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
